.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #00ff7f;
  position: sticky;
  top: 0;
  background-color: #181818;
  z-index: 1;
  padding: 10px 0;
}

.releasesGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.releaseCard {
  display: flex;
  align-items: center;
  background-color: #282828;
  border-radius: 4px;
  padding: 10px;
  transition: background-color 0.3s;
  position: relative;
}

.releaseCard:hover {
  background-color: #383838;
}

.releaseImage {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  margin-right: 15px;
}

.releaseInfo {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* 공간을 채우도록 설정하여 오른쪽으로 밀어냄 */
}

.releaseTitle {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 5px;
}

.releaseArtist {
  font-size: 14px;
  color: #b3b3b3;
}

.bookmarkButtonContainer {
  display: flex;
  align-items: center;
  margin-left: auto; /* 오른쪽 끝으로 정렬 */
}