
/* FeaturedPlaylists.module.css */
.featuredPlaylists {
  /* 스타일 정의 */
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #00FF7F;
  position: sticky;
  top: 0;
  background-color: #181818;
  z-index: 1;
  padding: 10px 0;
}

.playlistsGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.playlistCard {
  display: flex;
  flex-direction: column;
  background-color: #282828;
  border-radius: 4px;
  padding: 10px;
  transition: background-color 0.3s, padding 0.3s;
  position: relative;
  overflow: hidden;
}

.playlistCard:hover {
  background-color: #383838;
}

.playlistHeader {
  display: flex;
  align-items: center;
  transition: transform 0.3s;
}

.playlistHeader.expanded {
  transform: scale(1.05);
}

.playlistImage {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  margin-right: 15px;
  transition: width 0.3s, height 0.3s;
}

.playlistImage.expanded {
  width: 100px;
  height: 100px;
}

.playlistInfo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.playlistTitle {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 5px;
  transition: font-size 0.3s;
}

.playlistTitle.expanded {
  font-size: 20px;
}

.playlistDescription {
  font-size: 16px;
  color: #b3b3b3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
  transition: font-size 0.3s;
}

.playlistDescription.expanded {
  white-space: normal;
  overflow: visible;
  max-width: none;
}

.tracksList {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  width: 100%;
}

.tracksList.expanded {
  max-height: 300px;
  overflow-y: auto;
  transition: max-height 0.5s ease-in;
}

.trackItem {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.trackImage {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.trackInfo {
  display: flex;
  flex-direction: column;
}

.trackName {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.artistName {
  font-size: 12px;
  color: #b3b3b3;
}