/* src/components/FeaturedPlaylists.css */
.featuredPlaylists .title  {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #00FF7F;
  position: sticky;
  top: 0;
  background-color: #181818; /* 제목 배경색을 본문과 동일하게 설정 */
  z-index: 1; /* 제목을 다른 요소 위에 표시 */
  padding: 10px 0;
}

  
  .playlistsGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  
  .playlistCard {
    display: flex;
    align-items: center;
    background-color: #282828;
    border-radius: 4px;
    padding: 10px;
    transition: background-color 0.3s;
    position : relative;

  }
  
  .playlistCard:hover {
    background-color: #383838;
  }
  
  .playlistImage {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    margin-right: 15px;
  }
  
  .playlistInfo {
    display: flex;
    flex-direction: column;
  }
  
  .playlistTitle {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 5px;
  }
  
  .playlistDescription {
    font-size: 14px;
    color: #b3b3b3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }