.featuredPlaylists {
  /* 스타일 정의 */
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #00FF7F;
  position: sticky;
  top: 0;
  background-color: #181818;
  z-index: 1;
  padding: 10px 0;
}

.playlistsGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.playlistCard {
  display: flex;
  flex-direction: column;
  background-color: #282828;
  border-radius: 4px;
  padding: 10px;
  transition: background-color 0.3s, padding 0.3s, height 0.3s;
  position: relative;
  overflow: hidden;
  height: auto;
  min-height: 80px;
}

.playlistCard:hover {
  background-color: #383838;
}

.playlistHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.playlistImage {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  margin-right: 10px; /* 이미지와 텍스트 사이의 간격 줄이기 */
}

.playlistInfo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: calc(100% - 90px - 40px); /* 이미지와의 간격 조정 */
}

.bookmarkButton {
  margin-left: auto;
}

.playlistTitle {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 5px;
}

.playlistDescription {
  font-size: 16px;
  color: #b3b3b3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px; /* 초기 상태의 최대 너비 */
  max-height: 20px; /* 초기 높이 설정 */
  transition: max-height 0.5s ease, max-width 0.5s ease; /* 높이 및 너비 애니메이션 */
}

.playlistCard.expanded .playlistDescription {
  white-space: normal; /* 줄바꿈 허용 */
  overflow: hidden; /* 오버플로우 해제 */
  text-overflow: clip; /* 텍스트 잘림 해제 */
  max-width: 85%; /* 확장 시 최대 너비 설정 */
  max-height: 100px; /* 확장 시 최대 높이 설정 */
}

.tracksList {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  width: 100%;
}

.tracksList.expanded {
  max-height: 300px;
  overflow-y: auto;
  transition: max-height 0.5s ease-in;
  border-top: 2px solid #555;
  padding-top: 10px;
}

/* 스크롤바 스타일 추가 */
.tracksList::-webkit-scrollbar {
  width: 6px;
}

.tracksList::-webkit-scrollbar-track {
  background: #181818;
}

.tracksList::-webkit-scrollbar-thumb {
  background: #00FF7F; /* 초록색으로 변경 */
  border-radius: 3px;
}

.tracksList::-webkit-scrollbar-thumb:hover {
  background: #00cc66; /* 더 어두운 초록색으로 변경 */
}

.trackItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 5px 0;
  border-bottom: 1px solid #666;
}

.trackImage {
  width: 56px;
  height: 56px;
  margin-right: 10px;
}

.trackInfo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.trackName {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 2px;
}

.artistName {
  font-size: 12px;
  color: #b3b3b3;
}

.bookmarkButtonContainer {
  margin-left: auto;
}