.bookmark {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  cursor: pointer;
  z-index: 3; /* 아이콘이 다른 요소 위에 표시되도록 설정 */
}

.svgIcon {
  fill: #000; /* 기본 아이콘 색상 */
  transition: fill 0.4s; /* 색상 변화에 애니메이션 추가 */
}

.svgIcon.checked {
  fill: #00FF7F; /* 체크 시 아이콘 색상 (초록색) */
}

.bookmarkContainer {
  display: flex;
  align-items: center;
  margin-left: auto; /* 오른쪽 끝으로 정렬 */
}