/* .bookmark {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  cursor: pointer;
}

.svgIcon {
  fill: #c7c2c2; 
  transition: fill 0.4s; 
}

.svgIcon.checked {
  fill: #00FF7F;
}

.bookmark-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; 
  margin-left: auto; 
} */
