.sidebar {
  width: 250px;
  display: flex;
  border-radius: 0.5rem;
  flex-direction: column;
  height: 100%;
  font-size: 14px;
  box-sizing: border-box;
  padding: 10px;
}

.menuItem {
  display: flex;
  align-items: center;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}
.menuItem:hover {
  background-color: #70c489;
}

.sidebarItem {
  display: flex;
  align-items: center;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.sidebarItem:hover {
  background-color: #70c489;
}

.icon {
  margin-right: 12px;
}

.sidebarDelete {
  top: 83%;
  padding: 18px;
  position: fixed; /* 고정 위치 */
}

.deleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.deleteButton:hover {
  background-color: #ff3333;
}

.deleteButton svg {
  margin-right: 15px;
}

.confirmDialogOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.confirmDialog {
  background-color: #ededed; /* 파스텔톤 멜론 색 */
  color: #000;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0px 15px 60px #00ff7f;
  width: 320px;
  text-align: center;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  animation: slideUp 0.3s ease-in-out; /* 부드러운 슬라이드 인 애니메이션 */
}

.confirmDialog p {
  margin-bottom: 20px;
  font-size: 18px;
}

.confirmDialogButtons {
  display: flex;
  justify-content: flex-end;
}

.confirmDialogButtons button {
  margin-left: 20px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.confirmDialogButtons button:first-child {
  background-color: #ff4d4d;
  color: white;
}

.confirmDialogButtons button:last-child {
  background-color: #ccc4c4;
  color: #000000;
}

.confirmDialogButtons button:hover {
  opacity: 0.8;
}

.cancelText {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.weatherAnimationContainer {
  position: relative;
  margin: 20px 0;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 250px;
  margin: 0 auto;
  top: 23%; /* 박스를 더 아래로 이동 */
}

.weatherAnimationContainer .lottieAnimation {
  margin-bottom: 10px; /* 애니메이션 아래 여백 조정 */
}

.weatherDetails {
  font-size: 16px; /* 기본 글꼴 크기 약간 확대 */
  color: #333;
}

.weatherDetails .locationName {
  font-size: 24px; /* 도시 이름의 글꼴 크기를 더 크게 설정 */
  font-weight: bold; /* 굵게 설정 */
  color: #2c3e50; /* 강조된 색상 */
  margin-bottom: 10px; /* 아래 여백 추가 */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* 텍스트 그림자 추가 */
}

.weatherDetails div {
  margin: 5px 0; /* 각 정보 간격 조정 */
}
