/* AlbumInfo.css */

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* 어두운 배경 색상 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px; /* 둥근 모서리 */
  max-width: 450px; /* 모달의 최대 너비 */
  width: 90%; /* 모달의 폭을 화면의 90%로 설정 */
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.modalContent:hover {
  transform: translateY(-5px); /* 호버 시 모달이 살짝 위로 이동 */
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #e63946;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.closeButton:hover {
  background-color: #d62839; /* 호버 시 색상 변경 */
}

.albumDetails {
  text-align: center;
}

.albumDetails img {
  max-width: 100%;
  border-radius: 8px;
}

.albumDetails h2 {
  margin-top: 0;
  font-size: 2rem; /* 강조된 앨범 타이틀 크기 */
  color: #333; /* 타이틀 색상 */
  font-weight: 700; /* 두꺼운 글씨 */
}

.albumDetails p {
  margin: 8px 0;
  font-size: 0.9rem; /* 정보 텍스트의 폰트 크기 */
  color: #666; /* 부드러운 회색 색상 */
  line-height: 1.5; /* 줄 간격 조정 */
}

.albumDetails a {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  color: #1db954; /* 링크 색상 */
  font-weight: 600; /* 링크 텍스트 두께 */
  font-size: 0.9rem; /* 링크 폰트 크기 */
  transition: color 0.3s ease;
}

.albumDetails a:hover {
  color: #17a74b; /* 링크 호버 색상 */
}
