/* styles.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ddf3de;
  overflow: hidden;
}


.app {
  height: 100vh; /* 전체 높이를 100%로 설정 */
}

.main-layout {
  display: flex; /* 플렉스 박스 사용 */
}


.playlist-container {
  flex-grow: 1; 
  padding: 20px; /* 패딩 추가 */
  height: 100vh; /* 전체 높이를 100%로 설정 */

}